{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body_block %}
    <h4>Password Reset set</h4>
    <p>We've emailed you instructions for setings your password,if an account exists with the email you entered.You should receive them shortly.
        if you don't receive an email,Please make sure you've entered the address you registerd with,and check spam folder.
    </p>
    {% endblock %}
    
</body>
</html>