{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>hello welcome</h1>
    <table>
        {% for i in d %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
        </tr>
        {% endfor %}
    </table>
    <img src="{% static 'images/pic1.jpg' %}" alt="" width="300" height="300">
    <p>Definition: A set of words that is complete in itself, typically containing a subject and predicate, conveying a statement, question, exclamation, or command, and consisting of a main clause and sometimes one or more subordinate clauses.

    </p>
</body>
</html>